<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WADI activity</title>

	<link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css"> <!-- inks css file -->
	<script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script> <!-- inks js bundle -->
</head>
<body>
 
    {{{body}}}
 
</body>
</html>